body {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    margin: 16px;
    padding: 0px;
    box-sizing: border-box;
    color: #202020;
}

.main-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 18px;
    color: #202020;
    text-align: right;
    margin: 0px 0px 20px 0px;
    padding-left: 248px;
    font-weight: 200; /* Thin weight */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:flex-end;
}

.form-group {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 20px;
    width:100%;
}

.form-group label {
    width: 100px;
    text-align: right;
    font-size: 14px;
}

.form-group input[type="number"],
.form-group select {
    width:158px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensures padding is included in the element's width */
    height: 30px;
}

textarea {
    resize: none; /* Prevent manual resizing */
    width:100%;
    min-height: 70px; /* Set minimum height */
    line-height: 1.5; /* Ensures text appears comfortable */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    overflow: hidden; /* Prevents scrollbar from appearing */
    margin-bottom:10px;
}

button {
    width: 158px;
    padding: 10px 14px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #6f42c1;
    color: white;
    cursor: pointer;
    text-align:center;
}

button:hover {
    background-color: #5a2e91;
}

input:focus, textarea:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

#chat-history {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
